.vscode/**
.github/**
.vscode-test*/**
.test-profile/**
node_modules/**
src/**
scripts/**
test/**
fixtures/**
*.ts
*.mjs
*.yml
Dockerfile
.dockerignore
.gitignore
tsconfig.json
package-lock.json

test-results/**
playwright-report/**
dist/test/**

.prettier*
