# Only the runtime, marketplace documentation, icons, and license notices ship.
**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.txt
!dist/extension.cjs
!dist/extension-web.cjs
!dist/webview.js
!dist/webview.css
!media/dirtree.svg
!media/icon.png
